@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    int order = 0;
}

<div class="container-fluid">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h1>Authors:</h1>
        <a asp-action="Create" asp-controller="Skill" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Icon</th>
                <th scope="col">WorkFlow</th>

                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td>@item.Icon</td>
                    <td>@item.WorkFlow</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Skill" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-controller="Skill" asp-route-id="@item.Id" class="btn btn-danger btn-sweet-delete">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

